*{
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.5;
}

/*------------
==Typography==
--------------*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
}

h1 + p {
    margin: 0;
}

h2, .join-us {
    font-size: 1.3125rem;
}

h2 ~ p{
    padding: 0 3em;
}

.small {
    font-size: 0.625rem;
}

.section-info .small {
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

.section-banner {
    color: #ffffff;
    padding: 0 .5em 2em;
}

.section-info {
    color: #404040;
    padding: 2em 1em;
}

h2,
.register {
    margin: .2em;
}

.join-us,
.register,
.border-top {
    background: linear-gradient(90deg, #ea1010 20%, #cd7b00);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-top {
    border-top: 3px solid #ea1010;
    border-image: linear-gradient(90deg, #ea1010 20%, #cd7b00) 1;
    padding: 0;
}

.section-banner-info {
    order: -1;
}

@media (min-width: 600px) {
    body {
        font-size: 1.125rem;
    }

    h2 {
        margin: 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2, .join-us {
        font-size: 1.75rem;
    }

    .section-banner {
        padding: 0 .5em 2em;
    }
}

/*------------
====Layout====
--------------*/
.section-banner {
    background-image: url(bbq-min.webp);
    background-color: #404040;
    background-size: cover;
}

section .d-flex {
    height: 100%;
}

section{
    width: 100%;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-banner .d-flex{
    background-position: center;
    padding: 0;
    justify-content: space-between;
    min-height: 60vh;
}


.d-block {
    display: block;
}



@media (min-width: 600px) {
    main.d-flex {
        flex-direction: row;
        min-height: 100vh;
    }

    .col-1 {
        width: 60%;
    }

    .col-2 {
        width: 40%;
    }
}

/*------------
====Content====
--------------*/
.section-banner-info.small {
    padding: 0;
    margin: 3px;
}

/*------------
====Form====
--------------*/

.input,
.generic {
    padding: .75em 1em;
    border-radius: .5em;
    border: .7px solid #404040;
    margin: 0 auto 1em auto;
    font-size: .8em;
    display: block;
    box-sizing: border-box;
    width: 80%;
    letter-spacing: 1px;
    transform: scale(1);
    transition: transform 500ms;
}

.input {
    font-family: inherit;
}


.generic {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: 900;
}

.input:focus,
.generic:focus,
.generic:hover{
    transform: scale(1.1);
}

.modifier {
    background: linear-gradient(90deg, #ea1010 20%, #cd7b00);
    color: #ffffff;
}

@media (min-width: 600px) {

    .input,
    .generic {
        min-width: 60%;
    }
}

.section-banner > *,
.section-info > * {
    margin-left: auto;
    margin-right: auto;
}